<server>
   <featureManager>
        <feature>ejb-3.2</feature>
        <feature>localConnector-1.0</feature>
        <feature>wmqJmsClient-2.0</feature>
        <feature>servlet-4.0</feature>
    </featureManager>
   
   <httpEndpoint host="localhost" httpPort="9128" httpsPort="9129" id="defaultHttpEndpoint">
   </httpEndpoint>   

   <variable name="wmqJmsClient.rar.location"
	   value="/home/kenoi/mq/wmq/wmq.jmsra.rar" />

   <jmsQueueConnectionFactory connectionManagerRef="ConMgr6" containerAuthDataRef="appAuth" jndiName="jndi_JMS_BASE_QCF">
	   <properties.wmqJms channel="DEV.APP.SVRCONN"
             hostName="localhost" port="1414" queueManager="QM1"
             transportType="CLIENT" />
   </jmsQueueConnectionFactory>
   <connectionManager id="ConMgr6" maxPoolSize="5"/>
   <authData id="appAuth" user="app" password="passw0rd"/>

   <jmsQueue jndiName="jndi_INPUT_Q">
        <properties.wmqJms baseQueueManagerName="QM1"
            baseQueueName="DEV.QUEUE.1" />
   </jmsQueue>

   <applicationMonitor updateTrigger="mbean"/>

   <enterpriseApplication id="jms11" location="jms11.ear" name="jms11"/>

   <logging  traceSpecification="JMSApi=all:WAS.j2c=all:Transaction=all:com.ibm.ws.transaction.services.WebAppTransactionCollaboratorImpl=all"
      traceFileName="trace.log"
      maxFileSize="20"
      maxFiles="10"
      traceFormat="BASIC" />

</server>
